{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{%- assign timestamp_format = site.minima.date_format | default: "%FT%R%z" -%}
{%- assign date_format = site.minima.date_format | default: "%b %e, %Y at %l%P GMT" -%}
<h2>Current Committee Members</h2>
<ul class="members">
{% for committee_member in site.committee_members %}
  {%- capture jointime -%}{{committee_member.joined | date: '%s'}}{%- endcapture -%}
  {%- capture leavetime -%}{{committee_member.left | date: '%s'}}{%- endcapture -%}
  {%- if jointime < nowunix and (committee_member.left == nil or leavetime > nowunix) -%}
  <li>
    <img src="/images/{{ committee_member.headshot }}" alt="Portrait photo of {{ committee_member.name }}" width="256" height="256" />
    <div>
      <div>
        <h3>{{ committee_member.name }}{% if committee_member.pronouns %} <span class="pronouns">({{ committee_member.pronouns }})</span>{% endif %}</h3>
        <span class="dates">{{ committee_member.joined | date: "%Y" }}&ndash;present</span>
      </div>
      <div>
        <h4>{{ committee_member.position }}</h4>
        <span class="email"><a href="mailto:{{ committee_member.email }}">{{ committee_member.email }}</a></span>
      </div>
      {{ committee_member.content | markdownify }}
    </div>
  </li>
  {%- endif -%}
{% endfor %}
</ul>

<h2>Past Committee Members</h2>
<ul class="members">
{% for committee_member in site.committee_members %}
  {%- capture jointime -%}{{committee_member.joined | date: '%s'}}{%- endcapture -%}
  {%- capture leavetime -%}{{committee_member.left | date: '%s'}}{%- endcapture -%}
  {%- if jointime < nowunix and (committee_member.left != nil and leavetime < nowunix) -%}
  <li>
    <div>
      <div>
        <h3>{{ committee_member.name }}{% if committee_member.pronouns %} <span class="pronouns">({{ committee_member.pronouns }})</span>{% endif %}</h3>
        <span class="dates">{{ committee_member.joined | date: "%Y" }}&ndash;{{ committee_member.left | date: "%Y" }}</span>
      </div>
      <h4>{{ committee_member.position }}</h4>
    </div>
  </li>
  {%- endif -%}
{% endfor %}
</ul>
