<div class="speaker-suggestions">
    <h3>Suggest a Speaker</h3>
    <form action="https://docs.google.com/forms/d/1_DlXmneaPtxFgZiVjMLUwfWuAOsjRWek3wRg-KZayQ4/formResponse" method="post">
        <label for="entry.461589978">Speaker name</label>
        <input type="text" id="entry.461589978" placeholder="Speaker name" required /><span></span><br />
        <label for="entry.902351315">Speaker email</label>
        <input type="text" id="entry.902351315" placeholder="Speaker email" required /><span></span><br />
        <label for="entry.2014380399">Speaker affiliation</label>
        <input type="text" id="entry.2014380399" placeholder="Speaker affiliation" required /><span></span><br />
        <label for="entry.1277481179">Talk topic</label>
        <input type="text" id="entry.1277481179" placeholder="Talk topic" required /><span></span><br />
        <label for="entry.644310676">Your name/contact</label>
        <input type="text" id="entry.644310676" placeholder="Your name/contact" /><span></span><br />
        <input type="submit" value="Submit"><input type="reset" value="Clear">
    </form>
</div>